:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main {
  max-width: 360px;
  margin-bottom: 20px;
}

.qr-container {
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 13px hsl(218deg 44% 22% / 10%);
}

.qr-image {
  padding: 15px;
}

.qr-image img {
  width: 100%;
  border-radius: 10px;
}

.qr-details {
  padding: 0 15px 45px;
  text-align: center;
}

.qr-title h1 {
  color: var(--color-dark-blue);
  font-size: 1.6rem;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 10px;
}

.qr-desc {
  padding: 0 25px;
}

.qr-desc p {
  color: var(--color-grayish-blue);
}